* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: crimson;
    border-bottom: 2px double;
    padding: 15px;
    background-color: azure;
    line-height: 30px;
}

.recipe {
    background-color: azure;
    width: 75%;
    margin: auto;
    border-left: 5px double crimson;
    border-right: 5px double crimson;
    padding: 0 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
}

.recipe img {
    display: block;
    width: 530px;
    margin: 0 auto 20px auto;
}

.recipe p strong {
    /* color: crimson; */
    text-decoration: dotted underline crimson;
}

.recipe-list {
    margin-left: 20px;
    
}

.recipe-list li {
    margin-bottom: 15px;
}

.recipe-subtitle {
    color: crimson;
    /* margin: 40px 0 15px 15px; */
    margin-bottom: 15px;
    margin-top: 40px;
}

.home-link {
    padding: 7px 15px;
    display: inline-block;
    font-weight: bold;
}

.card {
    border: 2px solid crimson;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgb(80, 80, 80);
}

.card p {
    display: inline-block;
    width: 100%;
    padding: 5px;
    background-color: azure;
}

.card img {
    width: 100%;
    border-bottom: 2px solid crimson;
}

.card a {
    display: block;
    padding: 7px 15px;
    background-color: rgb(251, 75, 75);
    margin: auto;
    width: 150px;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: small;
    padding-bottom: 50px;
}